@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    section#login {
        width: 80vw;
        height: 530px;
    }

    section#login > div#imagem {
        float: left;
        width: 46%;
        height: 100%;
    }

    section#login > div#formulario {
        margin-top: 100px;
        float: right;
        width: 54%;
    }
}

@media screen and (min-width: 902px) {

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
        margin-top: 100px;
    }

    div#formulario > h1 {
        font-size: 2em;
        margin-top: -10px;
    }
}